.box-font {
  font-size: 1.4rem;
  color: #FFFFFF;
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v13/TUZyzwprpvBS1izr_vOECuSa.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
body {
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-size: 7.2rem;
}
h2 {
  font-size: 6rem;
}
h3 {
  font-size: 4.8rem;
}
h4 {
  font-size: 3.6rem;
}
h5 {
  font-size: 3rem;
}
h6 {
  font-size: 2.4rem;
}
p {
  font-size: 1.6rem;
}
a {
  color: #C0BFFD;
  text-decoration: none;
}
a:hover {
  color: #C0BFFD;
  text-decoration: none;
}
a:visited {
  color: #C0BFFD;
  text-decoration: none;
}
.landing-page .main-container h1 {
  font-size: 6rem;
  font-family: 'Amatic SC', cursive;
  padding: 15px 0 15px 0;
  text-align: center;
}
.landing-page .main-container h2 {
  font-size: 3.6rem;
  font-family: 'Amatic SC', cursive;
  padding: 15px 0 15px 0;
  text-align: center;
}
.landing-page .sign-up-button {
  margin-top: 10%;
  margin-bottom: 20%;
  text-align: center;
}
.landing-page .sign-up-button .signup {
  background-color: #3C38FC;
  font-size: 2rem;
  color: #FFFFFF;
  border-radius: 20px;
  margin: 0 auto;
  border: 2px solid #3C38FC;
  padding: 10px 30px 10px 30px;
}
.landing-page .sign-up-button p {
  padding: 10px;
}
.landing-page .landing-header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/landing-page-bg.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-attachment: static;
  padding: 30% 0 20% 0;
}
@media (min-width: 900px) {
  .landing-page .landing-header {
    padding: 5%;
  }
}
.landing-page .landingpage-moreinfo {
  background-color: #FFFFFF;
  color: black;
  padding: 10%;
}
@media (min-width: 900px) {
  .landing-page .landingpage-moreinfo {
    padding: 2%;
  }
  .landing-page .landingpage-moreinfo h2 {
    font-size: 5rem;
  }
  .landing-page .landingpage-moreinfo p {
    font-size: 2.2rem;
  }
}
.landing-page .landingpage-moreinfo p {
  text-align: center;
}
.landing-page .landingpage-moreinfo section {
  margin: 3%;
  padding: 3%;
}
.landing-page .landingpage-moreinfo .photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.landing-page .landingpage-moreinfo .photos .photo-container {
  width: 90%;
  height: 90%;
  margin: 2%;
  padding: 2%;
  border-radius: 10px;
  background-color: lightgray;
}
.landing-page .landingpage-moreinfo .photos .photo-container img {
  width: 100%;
  height: auto;
}
.landing-page footer {
  text-align: center;
}
@media (min-width: 900px) {
  .container {
    width: 60%;
    margin: 0 auto;
  }
}
.container h1 {
  font-size: 2rem;
  padding: 5px 0 5px 20px;
  color: #FFFFFF;
}
.container h2,
.container h3 {
  font-size: 2rem;
}
.container h4,
.container h5 {
  font-size: 1.8rem;
}
.about-us-header h1 {
  background-color: #055492;
}
.about-us-header p {
  padding: 20px;
  text-align: center;
  font-size: 2rem;
}
.about-us-content {
  display: flex;
  flex-direction: column;
  padding: 3%;
}
@media (min-width: 900px) {
  .about-us-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.about-us-content .team-member {
  margin: 5% 2% 5% 2%;
  padding: 3%;
  border: 1px solid lightgray;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 2px lightgray;
}
@media (min-width: 900px) {
  .about-us-content .team-member {
    width: 40%;
    margin: 3%;
  }
}
.about-us-content .team-member p {
  color: gray;
  margin: 5% 0 5% 0;
}
.about-us-content .team-member img {
  height: 150px;
  width: 150px;
}
.main-page-header h1 {
  background-color: #0905D5;
}
.main-page-header img {
  width: 100%;
}
.content {
  padding: 2%;
}
.content .stamp {
  width: 100%;
  max-height: 10%;
  margin: 0 auto;
  box-shadow: 0px 0px 2px 2px lightgray;
}
.content .stamp img {
  width: 100%;
  max-height: 10%;
  border-radius: 20px;
}
.content section {
  padding: 5%;
}
.content .section-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.content .section-content .explore-img {
  width: 46%;
  border-radius: 10px;
  margin: 1.5% 0 1.5% 0;
  padding: 10% 5% 10% 5%;
  text-align: center;
  font-size: 1.4rem;
  color: #FFFFFF;
}
.content .section-content #popular {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/popular-img.jpg");
}
.content .section-content #tours {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/tour-img.jpg");
}
.content .section-content #tasting {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/tasting-img.jpg");
}
.content .section-content #wine-beer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/wine-beer-img.jpg");
}
.content .section-content #mexico {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/flag-mexico.png");
}
.content .section-content #italy {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/flag-italy.jpg");
}
.content .section-content #usa {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/flag-usa.png");
}
.content .section-content #germany {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/flag-germany.png");
}
.content .section-content #pr {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/flag-puertorico.png");
}
.content .section-content #india {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/flag-india.jpg");
}
.content .section-content #greece {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/flag-greece.png");
}
.content .section-content #china {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/flag-china.png");
}
.content .section-content .world-img {
  width: 46%;
  border-radius: 10px;
  margin: 1.5% 0 1.5% 0;
  padding: 3%;
  text-align: center;
  font-size: 1.4rem;
  color: #FFFFFF;
}
.content .section-content #popular {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/popular-img.jpg");
}
.content .section-content #tours {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/tour-img.jpg");
}
.content .section-content #tasting {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/tasting-img.jpg");
}
.content .section-content #wine-beer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/wine-beer-img.jpg");
}
.content .section-content #mexico {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/flag-mexico.png");
}
.content .section-content #italy {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/flag-italy.jpg");
}
.content .section-content #usa {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/flag-usa.png");
}
.content .section-content #germany {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/flag-germany.png");
}
.content .section-content #pr {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/flag-puertorico.png");
}
.content .section-content #india {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/flag-india.jpg");
}
.content .section-content #greece {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/flag-greece.png");
}
.content .section-content #china {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(201, 200, 200, 0.4), rgba(175, 172, 172, 0.4)), url("../img/flag-china.png");
}
.content .section-content .restaurant-box {
  width: 100%;
  border-radius: 10px;
  margin: 1.5% 0 1.5% 0;
  padding: 0;
  text-align: center;
  height: 40%;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0px 0px 2px 2px lightgray;
  margin: 3% 0 3% 0;
}
.content .section-content .restaurant-box img {
  max-width: 100%;
}
.content .section-content .restaurant-box .activity-text {
  padding: 3%;
  color: gray;
}
.content .section-content .restaurant-box .activity-text h5 {
  color: black;
  padding: 3% 0 3% 0;
}
.content .section-content .restaurant-box .activity-text .activity p {
  font-size: 1.4rem;
}
.content .section-content .restaurant-box .activity-text .activity-detail p {
  font-size: 1.6rem;
  padding-bottom: 20px;
}
.content .section-content .restaurant-box .icon-and-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}
.content .section-content .restaurant-box .readmore {
  background-color: #3C38FC;
  font-size: 1.4rem;
  color: #FFFFFF;
  margin: 0 auto;
  border: 2px solid #3C38FC;
  padding: 10px 10px 10px 10px;
}
.content .section-content .restaurant-box p {
  padding: 5px;
}
nav .nav-mobile-site {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 900px) {
  nav .nav-mobile-site {
    display: none;
  }
}
nav .nav-mobile-site .logo {
  width: 18%;
  height: 18%;
  background-image: url '(../img/fp-logo.png)';
}
nav .nav-mobile-site .logo img {
  height: 100%;
  width: 100%;
}
nav .nav-mobile-site .title h1 {
  font-family: 'Amatic SC', cursive;
  color: black;
  font-size: 3rem;
  padding: 0;
}
nav .nav-mobile-site .nav-opener {
  width: 7%;
  height: 10%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-content: center;
  cursor: pointer;
}
nav .nav-mobile-site .nav-opener .nav-opener:hover {
  background-color: lightgray;
}
nav .nav-mobile-site .nav-opener .nav-toggle-line {
  border-bottom: 2px solid gray;
  padding: 7%;
}
nav .nav-mobile-site .mob-sidenav {
  height: 100%;
  width: 0;
  z-index: 999;
  top: 0;
  right: 0;
  position: fixed;
  background-color: #222222;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5%;
}
nav .nav-mobile-site .mob-sidenav a {
  padding: 5% 2% 2% 10%;
  text-decoration: none;
  font-size: 1.6rem;
  color: gray;
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid gray;
}
nav .nav-mobile-site .mob-sidenav a:hover {
  color: white;
}
nav .nav-mobile-site .mob-sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3.6rem;
  margin-right: 0;
  border-bottom: 0;
}
nav .nav-mobile-site .mob-sidenav .user-pic {
  height: 100px;
  width: 100px;
  padding: 20px 0 20px 0;
  margin-bottom: 30px;
}
nav .nav-mobile-site .mob-sidenav .user-pic img {
  width: 100%;
}
nav .nav-desktop-site {
  display: none;
}
@media (min-width: 900px) {
  nav .nav-desktop-site {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
nav .nav-desktop-site .logo {
  width: 30%;
  height: 30%;
}
nav .nav-desktop-site .logo img {
  width: 100%;
  height: 100%;
}
nav .nav-desktop-site .title h1 {
  font-family: 'Amatic SC', cursive;
  color: black;
  font-size: 6rem;
  padding: 0;
}
nav .nav-desktop-site .nav-desktop-header-and-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
}
nav .nav-desktop-site .nav-desktop-header-and-menu .menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;
}
nav .nav-desktop-site .nav-desktop-header-and-menu .menu a {
  width: 200px;
  font-size: 2rem;
  padding: 1%;
  margin: 2%;
}
