.landing-page{
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
        url("../img/landing-page-bg.jpg");
    background-size: 350%;
    position: relative;
    background-position: center;
    color: @neutral6;

    @media @desktop{
        background-size: 150%;
        position: relative;
    }
    
    .main-container{
        margin: 30% 0 20% 0;

        @media @desktop{
            margin: 10% auto;
        }

        h1{
            .hx(6rem);
        }
        h2{
            .hx(3.6rem);
        }
    }

    .sign-up-button{
        margin-top: 10%;
        .text-center();
        .signup{
            background-color: @primary2;
            font-size: 2rem;
            color: @neutral6;
            border-radius: 20px;
            margin: 0 auto;
            border: 2px solid @primary2;
            padding: 10px 30px 10px 30px;
        }
        p{
            padding: 10px;
        }
    }

}