.landing-page{

    .main-container{
        h1{
            .hx(6rem);
        }
        h2{
            .hx(3.6rem);
        }
    }

    .sign-up-button{
        margin-top: 10%;
        margin-bottom: 20%;
        .text-center();
        .signup{
            background-color: @primary2;
            font-size: 2rem;
            color: @neutral6;
            border-radius: 20px;
            margin: 0 auto;
            border: 2px solid @primary2;
            padding: 10px 30px 10px 30px;
        }
        p{
            padding: 10px;
        }
    }

    .landing-header{
        height: 100vh;
        background:
        linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
        url("../img/landing-page-bg.jpg");
        background-size: cover;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        color: @neutral6;
        background-attachment: static;
        padding: 30% 0 20% 0;

        @media @desktop{
            padding: 5%;
        }

    }

    .landingpage-moreinfo{
        background-color: @neutral6;
        color: black;
        padding: 10%;

        @media @desktop{
            padding: 2%;

            h2{
                font-size: 5rem;
            }
            p{
                font-size: 2.2rem;
            }
        }

        p{
            .text-center();
        }

        section{
            margin: 3%;
            padding: 3%;
        }

        .photos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .photo-container{
                width: 90%;
                height: 90%;
                margin: 2%;
                padding: 2%;
                border-radius: 10px;
                background-color: lightgray;

                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    
    footer{
        .text-center();
    }

}