.text-center() {
    text-align: center;
}

.link(){
    color: @primary3;
    text-decoration: none;
}

.hx(@fs){
    font-size: @fs;
    font-family: @specialfont;
    padding: 15px 0 15px 0;
    .text-center()
}

.box-wh(@w,@p){
    width: @w;
    border-radius: 10px;
    background-color: gray;
    margin: 3%;
    padding: @p;
    .text-center();
}

.box-font{
    font-size: 1.8rem;
    color: @neutral6;
}