.text-center() {
    text-align: center;
}

.link(){
    color: @primary3;
    text-decoration: none;
}

.hx(@fs){
    font-size: @fs;
    font-family: @specialfont;
    padding: 15px 0 15px 0;
    .text-center()
}