nav{
    .nav-mobile-site{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        @media @tablet{
            display: none;
        } // closes media desktop for nav-mobile-site

        .logo{
            width: 18%;
            height: 18%;
            background-image: url'(../img/fp-logo.png)';

            img{
                height: 100%;
                width: 100%;
            }
        }//closes logo

        .title{
            h1{
                font-family: @specialfont;
                color: black;
                font-size: 3rem;
                padding: 0;
            }
        }

        .nav-opener{
            width: 7%;
            height: 10%;
            margin: 3%;
            display:flex;
            flex-direction:column;
            align-content: center;
            cursor: pointer;

            .nav-opener:hover{
                background-color: lightgray;
            }

            .nav-toggle-line{
                border-bottom: 2px solid gray;
                padding: 7%;
            }
        }// close nav-opener

        .mob-sidenav{
            height: 100%;
            width: 0;
            z-index: 999;
            top: 0;
            right: 0;
            position: fixed;
            background-color: #222222;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 5%;

            a{
                padding: 5% 2% 2% 10%;
                text-decoration: none;
                font-size: 1.6rem;
                color: gray;
                display: block;
                transition: 0.3s;
                border-bottom: 1px solid gray;
            }

            a:hover{
                color: white;

            }
            .closebtn {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 3.6rem;
                margin-right: 0;
                border-bottom: 0;
            }

            .user-pic{
                height: 100px;
                width: 100px;
                padding: 20px 0 20px 0;
                margin-bottom: 30px;

                img{
                    width: 100%;
                }
            }


        }// close mob-sidenav

        
    }// closes nav-mobile-site


    .nav-desktop-site{
        display: none;




        @media @tablet{
            display: block;
            height: 100vh;
            color: @neutral6;
            background:
            linear-gradient(
              rgba(138, 137, 137, 0.4), 
              rgba(114, 114, 114, 0.4)
            ),
            url("../img/team-header.jpg");
            background-size: cover;
            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            color: @neutral6;
            background-attachment: static;
        
            .oneline-nav{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background:
                linear-gradient(
                  rgba(0, 0, 0, 0.6), 
                  rgba(0, 0, 0, 0.6)
                );

            }//closes 1 line nav

            .title-desktop{
                h1{
                    font-family: @specialfont;
                    font-size: 4.8rem;
                }
            }

            .menu-desktop{
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                a{
                    color: @neutral6;
                    font-size: 1.8rem;
                    margin: 3%;
                    text-align: center;
                }

                a:hover{
                    color: @neutral6;
                }
                a:visited{
                    color: @neutral6;
                }
            }


            
        
        }// closes media tablet

        

        


    }//closes nav-desktop-site

}//closes nav