
//main container
.container{
    @media @desktop{
        width: 60%;
        margin: 0 auto;
    }
    h1{
        font-size: 2.5rem;
        padding: 5px 0 5px 20px;
        color: @neutral6;
    }
    h2,h3{
        font-size: 2.5rem;
    }
    h4{
        font-size: 1.4rem;
    }
}



//about us page
.about-us-header{
    h1{
        background-color: #055492;
    }
    p {
        padding: 20px;
        text-align: center;
        font-size: 2rem;
    }
}
.about-us-content{
    display: flex;
    flex-direction: column;
    padding: 3%;

    @media @desktop{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team-member{
        margin: 5% 2% 5% 2%;
        padding: 3%;
        border: 1px solid lightgray;
        border-radius: 3px;
        box-shadow: 0px 0px 2px 2px lightgray;

        @media @desktop{
            width: 40%;
            margin: 3%;
        }

        p{
            color: gray;
            margin: 5% 0 5% 0;
        }
        img{
            height: 150px;
            width: 150px;
        }

    }//closes team-member
}// closes about-us-content

//main page

.main-page-header{
    h1{
        background-color: @primary1;
    }
    img{
        width: 100%;
    }
}// close main-page-header

.content{
    padding: 2%;

    .section-content{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .explore-img{
            .box-wh(40%,10% 5% 10% 5%);
            .box-font();
        }//closes explore-img
            

        img{
            max-width: 70%;
        }
        #popular{
            .background-img(url("../img/popular-img.jpg"));
        }

         #tours{
            .background-img(url("../img/tour-img.jpg"));
        }

         #tasting{
            .background-img(url("../img/tasting-img.jpg"));
        }

        #wine-beer{
            .background-img(url("../img/wine-beer-img.jpg"));
        }

        //country

        #mexico{
            .background-img(url("../img/flag-mexico.png"));
        }

        #italy{
            .background-img(url("../img/flag-italy.jpg"));
        }
        #usa{
            .background-img(url("../img/flag-usa.png"));
        }
        #germany{
            .background-img(url("../img/flag-germany.png"));
        }
        #pr{
            .background-img(url("../img/flag-puertorico.png"));
        }
        #india{
            .background-img(url("../img/flag-india.jpg"));
        }
        #greece{
            .background-img(url("../img/flag-greece.png"));
        }
        #china{
            .background-img(url("../img/flag-china.png"));
        }


        .world-img{
            .box-wh(40%,3%);
            .box-font();
        }//closes world-img

        #popular{
            .background-img(url("../img/popular-img.jpg"));
        }

         #tours{
            .background-img(url("../img/tour-img.jpg"));
        }

         #tasting{
            .background-img(url("../img/tasting-img.jpg"));
        }

        #wine-beer{
            .background-img(url("../img/wine-beer-img.jpg"));
        }

        //country

        #mexico{
            .background-img(url("../img/flag-mexico.png"));
        }

        #italy{
            .background-img(url("../img/flag-italy.jpg"));
        }
        #usa{
            .background-img(url("../img/flag-usa.png"));
        }
        #germany{
            .background-img(url("../img/flag-germany.png"));
        }
        #pr{
            .background-img(url("../img/flag-puertorico.png"));
        }
        #india{
            .background-img(url("../img/flag-india.jpg"));
        }
        #greece{
            .background-img(url("../img/flag-greece.png"));
        }
        #china{
            .background-img(url("../img/flag-china.png"));
        }    
            



    }// closes .section-content





}//closes content

